<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TimeToShop</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/favicon.jpg">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="wrap">
    <header>
      <nav class="main-nav">
        <ul class="nav-ul">
          <li class="nav-li">
            <a href="index.html" class="logo-link">
              <image src="img/logo.png" />
            </a>
          </li>
          <li class="nav-li">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-li">
            <a href="/categories" class="nav-link">
              Categories
            </a>
          </li>
          <li class="nav-li">
            <a href="/about" class="nav-link">
              About Us
            </a>
          </li>
        </ul>
        
      </nav>
    </header>
    <section class="about">
      <h2 class="about-title">Our Shops: </h2>
      <ul class="shop-list">
        <li class="shop-list-item">A King's Rd, Chelsea, London SW3 5UA</li>
        <li class="shop-list-item">A King's Rd, Chelsea, London SW3 5UA</li>
        <li class="shop-list-item">A King's Rd, Chelsea, London SW3 5UA</li>
        <li class="shop-list-item">A King's Rd, Chelsea, London SW3 5UA</li>
        <li class="shop-list-item">A King's Rd, Chelsea, London SW3 5UA</li>
      </ul>
    </section>
    
    <footer class="main-footer">
      <div class="tel">
        <p class="tel">+79638284383</p>
      </div>
      <div class="footer-info">
        <p class="footer-info-text">
          &copy 2019 OOO TimeToShop 
        </p>
      </div>
      <div class="social-networks">
        <a href="facebook.com/">
          <image class="sn-logo" src="img/facebook.png" />
        </a>
         <a href="instagram.com/">
          <image class="sn-logo" src="img/instagram.png" />
        </a>
         <a href="twitter.com">
          <image class="sn-low" src="img/twitter.png" /> 
        </a>
      </div>
    </footer>
  </div>
  
</body>
</html>