<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TimeToShop</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/favicon.jpg">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="wrap">
    <header>
      <nav class="main-nav">
        <ul class="nav-ul">
          <li class="nav-li">
            <a href="/" class="logo-link">
              <image src="img/logo.png" />
            </a>
          </li>
          <li class="nav-li">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-li">
            <a href="/categories" class="nav-link">
              Categories
            </a>
          </li>
          <li class="nav-li">
            <a href="about.html" class="nav-link">
              About Us
            </a>
          </li>
        </ul>
        
      </nav>
    </header>

    <section class="items-search">
      <div class="search">
        <input class="main-input" type="text">
        <image class="search-button" src="img/search.png" alt="search"/>
      </div>
      <div class="content">
        <div class="search-result">
          <div class="item-card">
            <div class="column">
              <a href="/item/234">
                <image class="card-item-image" src="img/comp-cat.jpg" />
              </a>
              <image class="card-item-stars" src="img/stars_example.png" />
            </div>
              <a href="item_page.html">
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt, numquam odio optio. Tempora quis officiis voluptates autem, aliquam dolor?</h3>
              </a>
              <p class="card-item-prise">150 $</p>
          </div>
          <div class="item-card">
            <div class="column">
              <a href="/item/234">
                <image class="card-item-image" src="img/comp-cat.jpg" />
              </a>
              <image class="card-item-stars" src="img/stars_example.png" />
            </div>
              <a href="/item/234">
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt, numquam odio optio. Tempora quis officiis voluptates autem, aliquam dolor?</h3>
              </a>
              <p class="card-item-prise">150 $</p>
          </div>
          <div class="item-card">
            <div class="column">
              <a href="/item/234">
                <image class="card-item-image" src="img/comp-cat.jpg" />
              </a>
              <image class="card-item-stars" src="img/stars_example.png" />
            </div>
              <a href="/item/234">
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt, numquam odio optio. Tempora quis officiis voluptates autem, aliquam dolor?</h3>
              </a>
              <p class="card-item-prise">150 $</p>
          </div>
          <div class="item-card">
            <div class="column">
              <a href="/item/234">
                <image class="card-item-image" src="img/comp-cat.jpg" />
              </a>
              <image class="card-item-stars" src="img/stars_example.png" />
            </div>
              <a href="/item/234">
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt, numquam odio optio. Tempora quis officiis voluptates autem, aliquam dolor?</h3>
              </a>
              <p class="card-item-prise">150 $</p>
          </div>
        </div>
        <div class="sidebar">
          <div class="filters">
            <div class="filter">
              <input type="checkbox">
              <label class="filter-text">Windows 7</label>
            </div>
            <div class="filter">
              <input type="checkbox">
              <label class="filter-text">Windows 10</label>
            </div>
            <div class="filter">
              <input type="checkbox">
              <label class="filter-text">Linux Ubuntu</label>
            </div>
          </div>
          <div class="filter-prise">
              <p class="prise-label row">
                From: <input class="prise-input" type="number">$
              </p>
              <p class="prise-label row">
                To: <input class="prise-input" type="number">$
              </p>
          </div>
          <button class="btn">Apply</button>
        </div>
      </div>
    </section>
    <image class="up" src="img/up.png" />
    <footer class="main-footer">
      <div class="tel">
        <p class="tel">+79638284383</p>
      </div>
      <div class="footer-info">
        <p class="footer-info-text">
          &copy 2019 OOO TimeToShop 
        </p>
      </div>
      <div class="social-networks">
        <a href="facebook.com/">
          <image class="sn-logo" src="img/facebook.png" />
        </a>
         <a href="instagram.com/">
          <image class="sn-logo" src="img/instagram.png" />
        </a>
         <a href="twitter.com">
          <image class="sn-low" src="img/twitter.png" /> 
        </a>
      </div>
    </footer>
  </div>
  
</body>
</html>