<footer class="main-footer">
  <div class="tel">
    <p class="tel">+79638284383</p>
  </div>
  <div class="footer-info">
    <p class="footer-info-text">
      &copy 2019 OOO TimeToShop 
    </p>
  </div>
  <div class="social-networks">
    <a href="facebook.com/">
      <image class="sn-logo" src="img/facebook.png" />
    </a>
     <a href="instagram.com/">
      <image class="sn-logo" src="img/instagram.png" />
    </a>
     <a href="twitter.com">
      <image class="sn-low" src="img/twitter.png" /> 
    </a>
  </div>
</footer>