<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TimeToShop</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/favicon.jpg">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="wrap">
    <header>
      <nav class="main-nav">
        <ul class="nav-ul">
          <li class="nav-li">
            <a href="/" class="logo-link">
              <image src="img/logo.png" />
            </a>
          </li>
          <li class="nav-li">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-li">
            <a href="/categories" class="nav-link">
              Categories
            </a>
          </li>
          <li class="nav-li">
            <a href="/about" class="nav-link">
              About Us
            </a>
          </li>
        </ul>
        
      </nav>
    </header>

    <section class="items-search">
      <div class="path">
        <div class="path-category"><a href="category.html">Computers</a></div>
        <div>></div>
        <div class="path-title">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
      </div>
      <div class="content">
        <div class="search-result">
          <div class="item-detail">
            <div class="row">
              <div class="column">
                <image class="card-item-image" src="img/comp-cat.jpg" />
                <image class="card-item-stars" src="img/stars_example.png" />
              </div>
              <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h3>
              <p class="card-item-prise">150 $</p>
            </div>
            <div>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus repudiandae reiciendis laborum dignissimos enim repellat molestias architecto temporibus, consectetur cupiditate tempora officia suscipit placeat obcaecati distinctio deserunt excepturi quasi magnam at earum. Deleniti cupiditate provident reprehenderit eveniet, ipsa id fuga?
              </p>
            </div>
            <div class="column">
              <h4 class="properties-title">Properties</h5>
              <table class="props-table">
                <tr class="props-tr">
                  <td class="props-td">OS: </td>
                  <td class="props-td">Windows 10</td>

                </tr>
                <tr class="props-tr">
                  <td class="props-td">RAM: </td>
                  <td class="props-td">8 GB</td>
                </tr>
                <tr class="props-tr">
                  <td class="props-td">Processor: </td>
                  <td class="props-td">Intel Core i7</td>
                </tr>
                <tr class="props-tr">
                  <td class="props-td">Video Card: </td>
                  <td class="props-td">GeForse RTX 2080</td>
                </tr>
              </table>
            </div>
            <h4 class="reviews-title">Reviews : </h4>
            <button class="btn add-review">Add review</button>
            <div class="reviews">
              <div class="review-card">
                <div class="column">
                  <image src="img/avatar.png" class="avatar"/>
                  <image class="card-item-stars" src="img/stars_example.png" />
                </div>
                <div class="column">
                  <h4 class="nickname">Vasya Pupkin</h4>
                  <p class="review-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum fugit, quo, recusandae blanditiis fuga quas sunt odit ipsam voluptates optio, assumenda laudantium aut eveniet est magnam expedita vero magni?</p>
                </div>
              </div>
              <div class="review-card">
                <div class="column">
                  <image src="img/avatar.png" class="avatar"/>
                  <image class="card-item-stars" src="img/stars_example.png" />
                </div>
                <div class="column">
                  <h4 class="nickname">Vasya Pupkin</h4>
                  <p class="review-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum fugit, quo, recusandae blanditiis fuga quas sunt odit ipsam voluptates optio, assumenda laudantium aut eveniet est magnam expedita vero magni?</p>
                </div>
              </div>
              <div class="review-card">
                <div class="column">
                  <image src="img/avatar.png" class="avatar"/>
                  <image class="card-item-stars" src="img/stars_example.png" />
                </div>
                <div class="column">
                  <h4 class="nickname">Vasya Pupkin</h4>
                  <p class="review-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum fugit, quo, recusandae blanditiis fuga quas sunt odit ipsam voluptates optio, assumenda laudantium aut eveniet est magnam expedita vero magni?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <image class="up" src="img/up.png" />
    <footer class="main-footer">
      <div class="tel">
        <p class="tel">+79638284383</p>
      </div>
      <div class="footer-info">
        <p class="footer-info-text">
          &copy 2019 OOO TimeToShop 
        </p>
      </div>
      <div class="social-networks">
        <a href="facebook.com/">
          <image class="sn-logo" src="img/facebook.png" />
        </a>
         <a href="instagram.com/">
          <image class="sn-logo" src="img/instagram.png" />
        </a>
         <a href="twitter.com">
          <image class="sn-low" src="img/twitter.png" /> 
        </a>
      </div>
    </footer>
  </div>
  
</body>
</html>