*{
  font-family: 'Titillium Web', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around
}
.btn{
  background: #d8d648;
  border: none;
  color: #000;
  width: 8rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}
.wrap{
  display: flex;
  flex-direction: column;
}
.error{
  font-size: 3rem;

}
.main-nav{
  background: #d8d648;
}
.nav-ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav-link{
  font-family: 'Mali', cursive;
  font-size: 1.5rem;
}
.section-category{
  display: flex;
  flex-direction: column;
}

.search{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}
.main-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.search-cont{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggests{
  width: 67%;
  position: absolute;
  top: 3rem;
  background: #F0F0B3;
}
.sug-ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
}
.sug-li{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.sug-li:hover{
  background: #ddd;
}
.main-input{
  width: 100%;
  height: 2rem;
  font-size: 2rem;
}
.submit-button{
  border: none;
  background-color: #fff;
}
.search-button{
  width: 3rem;
  cursor: pointer;
}
.categories-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-category{
  margin: 1.5rem;
}
.category-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.category-image{
  width: 230px;
  margin-top: auto;
}
.category-title{
  font-size: 2rem;
  margin-top: auto;
}
.main-footer{
  background: #333;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.social-networks{
  display: flex;
  align-items: center;
}
.sn-logo{
  width: 50px;
}
.sn-low{
  width: 43px;
}
.content{
  display: flex;
  flex-direction: row;

}
.search-result{
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.item-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.item-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.card-item-stars{
  width: 150px;
}
.card-item-image{
  width: 230px;
}
.item-title{
  font-size: 2rem;
}
.card-item-prise{
  color: red;
  font-size: 2rem;
  flex-basis: content;
  flex-shrink: 0;
  align-self: flex-start;
}
.filter{
  display: flex;
}
.filters{
  align-self: start;
}
.filter-prise{
  display: flex;
  flex-direction: column;
}
.prise-input{
  width: 30%;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.up{
  position: fixed;
  cursor: pointer;
  width: 50px;
  bottom: 10px;
  right: 10px;
}
.description{
  font-size: 1.5rem;
}
.properties-title{
  margin-top: 20px;
  font-size: 2rem;
}
.props-table{
  display: flex;
  flex-direction: column;
}
.props-tr{
  display: flex;
  justify-content: flex-start;
  align-items: end; 
}
.props-td{
  width: 100%;
  font-size: 1.5rem;
}
.line{
  height: 2px;
  width: 100%;
  background-color: #000;
}
.reviews{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.reviews-title{
  font-size: 2rem;
}
.avatar{
  width: 100px;
  margin: 1rem;
}
.nickname{
  font-size: 1.5rem;
  margin: 10px;
}
.review-body{
  font-size: 1rem;
}
.review-card{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2rem;
}
.path{
  display: flex;
}
.path div{
  margin: 1rem;
  padding: 1rem;
  color: #000;
  font-size: 1.5rem;
}
.add-review{
  width: 12rem;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-title{
  font-size: 3rem;
}
.shop-list-item{
  font-size: 2rem;
}
.not-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.widget-svg {
  width: 2rem;
}
.review-add{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-input{
  width: 98%;
  font-size: 2rem;
}
.review-textarea{
  font-size: 1.5rem;
  width: 98%;
}
.add-review-button{
  width: 98%;
}
